<!DOCTYPE html>  
<head>	
 <meta charset="utf-8">
 <title>SNO+ Electronics Debugging</title>
 <link rel="stylesheet" href="{baseURL}/static/css/style.css">
 <script src="{baseURL}/static/js/jquery-1.5.2.min.js"></script>
 <script src="{baseURL}/static/js/json2.js"></script>
 <script src="{baseURL}/kanso.js"></script>
 <script language="javascript">
 function togglePane(paneId) {
     var vis = true;
     var status = document.getElementById(paneId+'_0').style.display;

     if(status.length == 6)
        vis = 1;
     if(status.length == 4)
        vis = 0;

     if(vis == false) {
         document.getElementById(paneId+'_toggle').style.color='black'
         for(var i=0; i<16; i++) {
             document.getElementById(paneId+'_'+i).style.display='inline'
             document.getElementById(paneId+'_'+i).style.height='100%'
         }
     }
     if(vis == true) {
         document.getElementById(paneId+'_toggle').style.color='#ccc'
         for(var i=0; i<16; i++) {
             document.getElementById(paneId+'_'+i).style.display='none'
             document.getElementById(paneId+'_'+i).style.height='100%'
         }
     }
 }
 </script>
</head>
<body class="dashboard">
 <div id="header">
  <a href="{baseURL}">
  <div id="branding">
   <h1 id="site-name">SNO+ Electronics Debugging</h1>
  </div>
  </a>
 </div>

 <div id="content" class="colMS" style="width:90%;">
  <div id="content-main">
  {content|s}
  </div>
 </div>

</body>
</html>

