<!DOCTYPE html>  
<head>	
 <meta charset="utf-8">
 <title>SNO+ Electronics Debugging</title>
 <link rel="stylesheet" href="{baseURL}/static/css/style.css">
 <script src="{baseURL}/static/js/jquery-1.5.2.min.js"></script>
 <script src="{baseURL}/static/js/json2.js"></script>
 <script src="{baseURL}/kanso.js"></script>
</head>

<body class="dashboard">
 <div id="header">
  <a href="/">
  <div id="branding">
   <h1 id="site-name">SNO+ Electronics Debugging</h1>
  </div>
  </a>
 </div>

 <div id="content" class="colMS" style="width:80%;">
  <div id="content-main">
  {content|s}
  </div>
 </div>

</body>
</html>

