<style>
  .gold {
    background: gold;
  }
  .silver {
    background: silver;
  }
  .bad {
    background: red;
  }
  .bone {
    background: black;
  }
  .none {
    background: white;
    border: dashed 1px #aaa;
  }
</style>

<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
  <div style="display:table-row">
    {#board}
    <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
      {#status}
      {?none}???{/none}
      {?gold}<img height="50px" src="{baseURL}/static/images/gold.png"/>{/gold}
      {?silver}<img height="50px" src="{baseURL}/static/images/silver.png"/>{/silver}
      {?bad}<img height="50px" src="{baseURL}/static/images/bad.png"/>{/bad}
      {?bone}<img height="50px" src="{baseURL}/static/images/bone.png"/>{/bone}
      {/status}
    </div>
    <div style="display:table-cell;vertical-align:middle">
      <h1 style="color:black;">{_id}{?queens_id} ({queens_id}){/queens_id}</h1>
      <h3 style="color:black;margin-top:-6px">{board_type}</h3>
    </div>
    {/board}
  </div>
</div>
<br/>

<div style="display:table;width:100%">
  <div style="display:table-row;width:100%">
    <div style="display:table-cell;width:33%">
      {#board}
      <form action="" method=POST>
        <h1>Board Metadata&nbsp;&nbsp;&nbsp;<input type="submit" value="Save"></h1>
        <input type="hidden" name="board_id" value="{_id}">
        <h3>Status</h3>
        <select name="status">
          <option value="none" {?status.none}selected{/status.none}>None</option>
          <option value="gold" {?status.gold}selected{/status.gold}>Gold</option>
          <option value="silver" {?status.silver}selected{/status.silver}>Silver</option>
          <option value="bad" {?status.bad}selected{/status.bad}>Bad</option>
          <option value="bone" {?status.bone}selected{/status.bone}>Bone</option>
        </select>
        <h3>Location</h3>
        <select name="location">
          <option value="unknown" {?location.unknown}selected{/location.unknown}>Unknown</option>
          <option value="surface" {?location.surface}selected{/location.surface}>Surface</option>
          <option value="underground" {?location.underground}selected{/location.underground}>Underground</option>
          <option value="penn" {?location.penn}selected{/location.penn}>Penn</option>
          <option value="other" {?location.other}selected{/location.other}>Other</option>
        </select>
        <input type="text" name="location_detail" value="{location_detail}"/>
        {?channels}
        <h3>Channels</h3>
        {#channels}
        <input type="checkbox" name="channel{id}" {?good}checked{/good}/>&nbsp;
        {/channels}
        {/channels}
        <h3>Notes</h3>
        <textarea name="comments" cols="35" rows="7">{comments}</textarea>
        <h3>Configuration</h3>
        <table>
          <tr>
            <th>SNO</th>
            <th>SNO+</th>
          </tr>
          <tr>
            <td id="config-sno"></td>
            <td id="config-snoplus"></td>
          </tr>
        </table>
      </form>
      {/board}
    </div>
    <div style="display:table-cell;width:33%;">
      <h1>Status Tags</h1>
      <h4>Current debugging status: {tag_status}</h4>
      <a href="{baseURL}/tag/new?board={#board}{_id}{/board}">New Tag</a>
      {?tags}
      <table>
        {#tags}
        <tr>
          <td style="border-bottom:none;">
            <table style="width:70%;">
              <tr>
                <td rowspan="3" style="width:5px" class="status {status}" title="{status}">&nbsp;</td>
                <td>
                  {content}
                  {?setup.mb}<br/>FEC: {setup.mb}{/setup.mb}
                  {?showdbs}<br/>DBs: {setup.db0}, {setup.db1}, {setup.db2}, {setup.db3}{/showdbs}
                </td>
              </tr>
              <tr>
                <td>
                  - {author} ({created})
                    <span style="display:inline-block" class="ui-icon ui-icon-document" title="{_id}" onclick="window.prompt('Tag document', '{_id}');"></span>
                    <a href="#confirm-delete-{_id}" class="boxy" title="Delete Tag">
                      <span style="display:inline-block" class="ui-icon ui-icon-trash" title="Delete Tag"></span>
                    </a>
                  <div id="confirm-delete-{_id}" style="display:none;color:black;padding:15px">
                    Really delete tag {_id}?<br/><br/>
                    <div style="width:100%;text-align:center">
                      <form action="{baseURL}/tag_delete/{_id}" method="POST">
                        <input type="submit" onClick="Boxy.get(this).hide()" value="Delete"/>
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {/tags}
      </table>
      {:else}
      <br/><br/><strong>No tags</strong>
      {/tags}
    </div>
    <div style="display:table-cell;width:33%;">
      <h1>Test Results</h1>
      {#board}
      {?board_type_short}
      <h3><a href="{baseURL}/{board_type_short}/{_id}">All tests</a></h3>
      {/board_type_short}
      {/board}
      <h3>Final Tests</h3>
      {?final_tests}
      <table>
        <tr>
          <th>Status</th>
          <th>Type</th>
          <th>Date</th>
        </tr>
        {#final_tests}
        <tr>
          <td>
            {?pass}
            <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
            {:else}
            <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
            {/pass}
          </td>
          <td><a href="{baseURL}/final_test/{id}">final_test</a></td>
          <td>{created}</td>
        </tr>
        {/final_tests}
      </table>
      {:else}
      <strong>No final tests</strong>
      {/final_tests}
      <h3>ECALs</h3>
      {?ecals}
      <table>
        <tr>
          <th>&nbsp;</th>
          <th>Type</th>
          <th>Crates</th>
          <th>Date</th>
        </tr>
        {#ecals}
        <tr{#value.archived} class="archived"{/value.archived}>
          <td>
            {#archived}
            <div class="ui-icon ui-icon-folder-open"></div>
            {:else}
            <div class="ui-icon ui-icon-folder-collapsed"></div>
            {/archived}
          </td>
          <td><a href="{baseURL}/ecal/{id}">ecal</a></td>
          <td>
            {#config}
            <li><a href="{baseURL}/crate/{crate_id}">{crate_id}</a> (0x{mask})</li>
            {/config}
          </td>
          <td>{created}</td>
        </tr>
        {/ecals}
      </table>
      {:else}
      <strong>No ECALs</strong>
      {/ecals}
      <h3>FEC Documents</h3>
      {?fec_docs}
      <table>
        <tr>
          <th>Type</th>
          <th>Date</th>
        </tr>
        {#fec_docs}
        <tr>
          <td><a href="{baseURL}/fec/{id}">FEC</a></td>
          <td>{created}</td>
        </tr>
        {/fec_docs}
      </table>
      {:else}
      <strong>No FEC documents</strong>
      {/fec_docs}
    </div>
  </div>
</div>

<script type='text/javascript'> 
$(function() {
  $('.boxy').boxy();
});
</script>

