<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?key=&#34;{type}&#34;">CALD Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<div style="display:table;width:50%">
 <div style="display:table-row">
  <div style="display:table-cell;text-align:left;font-weight:bold">
   DAC Value
  </div>
  <div style="display:table-cell;text-align:left;font-weight:bold">
   ADC 0
  </div>
  <div style="display:table-cell;text-align:left;font-weight:bold">
   ADC 1
  </div>
  <div style="display:table-cell;text-align:left;font-weight:bold">
   ADC 2
  </div>
  <div style="display:table-cell;text-align:left;font-weight:bold">
   ADC 3
  </div>
 </div>
 <div style="display:table-row">
  <div style="display:table-cell">
   <ol start=0>
   {#dac_value}
    <li>{.}</li>
   {/dac_value}
   </ol>
  </div>
  <div style="display:table-cell">
   <ol start=0>
   {#adc_0}
    <li>{.}</li>
   {/adc_0}
   </ol>
  </div>
  <div style="display:table-cell">
   <ol start=0>
   {#adc_1}
    <li>{.}</li>
   {/adc_1}
   </ol>
  </div>
  <div style="display:table-cell">
   <ol start=0>
   {#adc_2}
    <li>{.}</li>
   {/adc_2}
   </ol>
  </div>
  <div style="display:table-cell">
   <ol start=0>
   {#adc_3}
    <li>{.}</li>
   {/adc_3}
   </ol>
  </div>
 </div>
</div>

<br/>
<hr size=1 color="black"/>
<span style="font-size:7pt">Document ID: {_id}</span>

