{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<table border=0>
 <tr>
  <th>Missing bundles</th>
  <td>
   {?missing_bundles}
    <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
   {:else}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/missing_bundles}
  </td>
 </tr>
</table>
<br/>

<h4>Errors</h4>
<ol start="0">
 {#errors}
  {?.}
   <li style="padding:1px"><span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span></li>
  {:else}
   <li style="padding:1px"><span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span></li>
  {/.}
 {/errors}
</ol>

<h3 style="padding-bottom:5px">
 Output:&nbsp;
</h3>
<pre>
{printout}
</pre>

{>"test_footer.html"/}

