<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?key=&#34;{type}&#34;">CMOS M GTVALID Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<table border=0>
 <tr>
  <th>TAC ref</th>
  <td>{tacref}</td>
 </tr>
 <tr>
  <th>Vmax</th>
  <td>{vmax}</td>
 </tr>
 <tr>
  <th>ISETA</th>
  <td>
   <ol start=0 style="margin-left:-20px;padding-left:-20px">
    {#iseta}
    <li>{.}</li>
    {/iseta}
   </ol>
  </td>
 </tr>
 <tr>
  <th>ISETM</th>
  <td>
   <ol start=0 style="margin-left:-20px;padding-left:-20px">
    {#isetm}
    <li>{.}</li>
    {/isetm}
   </ol>
  </td>
 </tr>
</table>
<br/>

<div style="display:table;width:30%;">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">Errors</div>
  <div style="display:table-cell;font-weight:bold">TAC shift</div>
  <div style="display:table-cell;font-weight:bold">GT valid 0</div>
  <div style="display:table-cell;font-weight:bold">GT valid 1</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
   {?errors}
    <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
   {:else}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/errors}
   </div>
   <div style="display:table-cell">
    {tac_shift}
   </div>
   <div style="display:table-cell">
    {gtvalid0}
   </div>
   <div style="display:table-cell">
    {gtvalid1}
   </div>
  </div>
  {/channels}
</div>

<br/>
<hr size=1 color="black"/>
<span style="font-size:7pt">Document ID: {_id}</span>

