{#archived}
<h4>This test is archived. <a href="{baseURL}/test_unarchive/{_id}">Unarchive</a></h4>
{/archived}

<h3>Configuration</h3>
<dl>
 <dt>Location: {config.loc}</dt>
 <dt>Crate ID: <a href="{baseURL}/crate/{config.crate_id}">{config.crate_id}</a></dt>
 <dt>Slot: <a href="{baseURL}/crate/{config.crate_id}">{config.slot}</a></dt>
 <dt>FEC ID: <a href="{baseURL}/board/{config.fec_id}">{config.fec_id}</a></dt>
 <dt>Daughterboards</dt>
  <dd>
   <ul>
    {#config.db}
    <li><a href="{baseURL}/board/{db_id}">{db_id}</a></li>
    {/config.db}
   </ul>
  </dd>
</dl>
