<h3>Configuration</h3>
<dl>
 <dt>Location: {config.loc}</dt>
 <dt>Crate ID: <a href="{baseURL}/crate?key={config.crate_id}">{config.crate_id}</a></dt>
 <dt>Slot: <a href="{baseURL}/slot?key={&#34;crate&#34;:{config.crate_id},&#34;slot&#34;:{config.slot}}">{config.slot}</a></dt>
 <dt>FEC ID: <a href="{baseURL}/fec?key=&#34;{config.fec_id}&#34;">{config.fec_id}</a></dt>
 <dt>Daughterboards</dt>
  <dd>
   <ul>
    {#config.db}
     <li><a href="{baseURL}/db?key=&#34;{db_id}&#34;">{db_id}</a></li>
    {/config.db}
   </ul>
  </dd>
</dl>
