<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?startkey=[&#34;{type}&#34;]&endkey=[&#34;{type}&#34;,{}]">Crate CBAL Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<div style="display:table;width:30%;">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">Errors</div>
  <div style="display:table-cell;font-weight:bold">Vbal low</div>
  <div style="display:table-cell;font-weight:bold">Vbal high</div>
  <div style="display:table-cell;font-weight:bold">Error flags</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
   {?errors}
    <span title="{errors}" style="display:inline-block;width:12px;background:red">&nbsp;</span>
   {:else}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/errors}
   </div>
   <div style="display:table-cell">
    {vbal_low}
   </div>
   <div style="display:table-cell">
    {vbal_high}
   </div>
   <div style="display:table-cell">
    {error_flags}
   </div>
  </div>
  {/channels}
</div>

{>"test_footer.html"/}

