<h1>Crate {crate_id}</h1>

{!
<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1 style="color:black;"><a href="{baseURL}/ecals">ECAL</a></h1>
      <h3 style="color:black;margin-top:-6px">{created}</h3>
    </div>
    <div style="table-cell">
      {#value.archived}
      {:else}
      <a href="{baseURL}/test_archive/{_id}" title="Archive"><span class="ui-icon ui-icon-folder-collapsed"></span></a>
      {/value.archived}
    </div>
  </div>
</div>

{#archived}
<h4>This test is archived. <a href="{baseURL}/test_unarchive/{_id}">Unarchive</a></h4>
{/archived}

{?bad_tests}
<h3>Warning: Corrupted tests</h3>
<table>
  <tr>
    <td>
      <div class="ui-icon ui-icon-alert"></div>
    </td>
    <td>
        {#bad_test_list}
        <li>ID: "{test_id}"</li>
        {/bad_test_list}
    </td>
  </tr>
</table>
{/bad_tests}
!}

{#boards}
<table>
  <tr>
    <td rowspan="2">
      CTC
      {#ctc}
      <a href="/board/{id}">{id}</a>
      {/ctc}
    </td>
    {#fecs}
    <td>
      FEC
      {#fec}
      <a href="/board/{id}">{id}</a>
      {/fec}
      <table>
        {#dbs}
        <tr>
          <td>
            DB
            <a href="/board/{id}">{id}</a>
          </td>
        </tr>
        {/dbs}
      </table>
    </td>
    {/fecs}
    <td rowspan="2">
      XL3
      {#xl3}
      <a href="/board/{id}">{id}</a>
      {/xl3}
    </td>
  </tr>
  <tr>
    {#pmtics}
    <td>
      PMTIC
      <a href="/board/{id}">{id}</a>
     </td>
    {/pmtics}
  </tr>
</table>
{/boards}

