<h1><a href="{baseURL}/crates">&#171;</a> Crate {crate_id}</h1>

<style>
  .none { background: white; color: black; }
  .gold { background: #ffdd00; color: black; }
  .silver { background: silver; color: black; }
  .bad { background: #f66; color: black; }
  .bone { background: black; color: white; }
  img.tag {width: 15px; margin-top: 5px; margin-bottom: 5px; }
</style>

<script>
  $(document).keydown(function(e) {
    if (e.which == 37 && {crate_id} > 0) {
        window.location.href = '{baseURL}/crate/' + String({crate_id} - 1);
    }
    else if (e.which == 39 && {crate_id} < 18) {
        window.location.href = '{baseURL}/crate/' + String({crate_id} + 1);
    }
});

function reconfig(board, loc) {
    console.log(board);
    console.log(loc);
    var new_board = prompt('Enter new board ID');
    console.log(new_board);
    if (!new_board || new_board == '') {
        return;
    }

    var form = $('<form></form>');
    form.attr("method", "POST");
    form.attr("action", "{baseURL}/reconfigure/configuration_snoplus");

    $.each({old_board: board, new_board: new_board, dest: loc}, function(key, value) {
        var field = $('<input></input>');
        field.attr("type", "hidden");
        field.attr("name", key);
        field.attr("value", value);
        form.append(field);
    });

    $(document.body).append(form);
    form.submit();
}
</script>

<table style="white-space:nowrap;text-align:center;">
  <tr>
    <td rowspan="2" style="border:solid 3px black;padding:0px">
      <div style="background:black;color:white;font-weight:bold;padding:3px">
        <div style="font-weight:bold;">
          CTC<br/>
          <a onclick="reconfig('{.}', '{crate_id}');">
            <span style="vertical-align:-3px;display:inline-block" class="ui-icon ui-icon-shuffle"></span>
          </a>
        </div>
        {#ctc}
        <div><a href="{baseURL}/board/{.}">{.}</a></div>
        <div id="location-{.}">&nbsp;</div>
        <img class="tag" id="tag-{.}" src="{baseURL}/static/images/tag_none.png">
        {/ctc}
      </div>
    </td>
    {#fecs}
    <td style="border:solid 3px black;">
      <div style="font-weight:bold">
        FEC {slot}<br/>
        <a onclick="reconfig('{id}', '{crate_id}/{slot}');">
          <span style="vertical-align:-3px;display:inline-block" class="ui-icon ui-icon-shuffle"></span>
        </a>
      </div>
      <div><a href="{baseURL}/board/{id}">{id}</a>&nbsp;</div>
      <div id="location-{id}">&nbsp;</div>
      <img class="tag" id="tag-{id}" src="{baseURL}/static/images/tag_none.png">
      <table style="border:solid 2px black">
        {#dbs fec_slot=slot}
        <tr>
          <td style="border-bottom:solid 1px black;">
            <div style="font-weight:bold">
              DB {slot}<br/>
              <a onclick="reconfig('{id}', '{crate_id}/{fec_slot}/{slot}');">
                <span style="vertical-align:-3px;display:inline-block" class="ui-icon ui-icon-shuffle"></span>
              </a>
            </div>
            <div><a href="{baseURL}/board/{id}">{id}</a>&nbsp;</div>
            <div id="location-{id}">&nbsp;</div>
            <img class="tag" id="tag-{id}" src="{baseURL}/static/images/tag_none.png">
          </td>
        </tr>
        {/dbs}
      </table>
    </td>
    {/fecs}
    <td rowspan="2" style="border:solid 3px black;padding:0px">
      <div style="background:#c00;color:white;font-weight:bold;padding:3px">
        <div style="font-weight:bold;">
          XL3 <br/>
          <a onclick="reconfig('{.}', '{crate_id}');">
            <span style="vertical-align:-3px;display:inline-block" class="ui-icon ui-icon-shuffle"></span>
          </a>
        </div>
        {#xl3}
        <div><a href="{baseURL}/board/{.}">{.}</a></div>
        <div id="location-{.}">&nbsp;</div>
        <img class="tag" id="tag-{.}" src="{baseURL}/static/images/tag_none.png">
        {/xl3}
      </div>
      <div style="margin:3px;">&nbsp;</div>
    </td>
  </tr>
  <tr>
    {#pmtics}
    <td style="border:solid 3px black;">
      <div style="font-weight:bold">
        PMTIC {slot}<br/>
        <a onclick="reconfig('{id}', '{crate_id}/{slot}');">
          <span style="vertical-align:-3px;display:inline-block" class="ui-icon ui-icon-shuffle"></span>
        </a>
      </div>
      <div><a href="{baseURL}/board/{id}">{id}</a></div>
      <div id="location-{id}">&nbsp;</div>
      <img class="tag" id="tag-{id}" src="{baseURL}/static/images/tag_none.png">
    </td>
    {/pmtics}
  </tr>
</table>

