<h1>Crate {crate_id}</h1>

<style>
  .none   { background:  white; color: black; }
  .gold   { background:   gold; color: black; }
  .silver { background: silver; color: black; }
  .bad    { background:   pink; color: black; }
  .bone   { background:  black; color: white; }
</style>

{#boards}
<table style="white-space:nowrap">
  <tr>
    <td rowspan="2" style="border:solid 5px black;">
      CTC {#ctc}
      <a href="/board/{id}">{id}</a>
      {/ctc}
    </td>
    {#fecs}
    <td>
      FEC
      {#fec}
      {idx}
      <br/>
      <a href="/board/{id}">{id}</a>
      {/fec}
      <table style="border:solid 1px black">
        {#dbs}
        <tr>
          <td style="border-bottom:solid 1px black;" class="{status}">
            DB {idx}
            <br/>
            <a href="/board/{id}">{id}</a>
          </td>
        </tr>
        {/dbs}
      </table>
    </td>
    {/fecs}
    <td rowspan="2" style="border:solid 5px red;">
      XL3
      {#xl3}
      <a href="/board/{id}">{id}</a>
      {/xl3}
    </td>
  </tr>
  <tr>
    {#pmtics}
    <td>
      PMTIC
      <a href="/board/{id}">{id}</a>
     </td>
    {/pmtics}
  </tr>
</table>
{/boards}

