{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<div style="display:table;width:20%;">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">Errors</div>
  <div style="display:table-cell;font-weight:bold">Count - Peds</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
   {?errors}
    <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
   {:else}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/errors}
   </div>
   <div style="display:table-cell">
    {count_minus_peds}
   </div>
  </div>
  {/channels}
</div>

{>"test_footer.html"/}

