{#record}
<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
  <div style="display:table-row">
    <div style="display:table-cell">
      <h1 style="color:black;"><a href="{baseURL}/ecals">ECAL</a></h1>
      <h3 style="color:black;margin-top:-6px">{created}</h3>
    </div>
    <div style="table-cell">
      {#value.archived}
      {:else}
      <a href="{baseURL}/test_archive/{_id}" title="Archive"><span class="ui-icon ui-icon-folder-collapsed"></span></a>
      {/value.archived}
    </div>
  </div>
</div>

{#archived}
<h4>This test is archived. <a href="{baseURL}/test_unarchive/{_id}">Unarchive</a></h4>
{/archived}

{?bad_tests}
<h3>Warning: Corrupted tests</h3>
<table>
  <tr>
    <td>
      <div class="ui-icon ui-icon-alert"></div>
    </td>
    <td>
        {#bad_test_list}
        <li>ID: "{test_id}"</li>
        {/bad_test_list}
    </td>
  </tr>
</table>
{/bad_tests}

<h3>ECAL Settings</h3>
{#settings}
<table>
  <tr>
    <th>Vint</th>
    <td>{vint}</td>
  </tr>
  <tr>
    <th>HVref</th>
    <td>{hvref}</td>
  </tr>
  <tr>
    <th>SCMOS</th>
    <td>
      <table>
        <tr>
          <th>Channel</th>
          {#scmos_ids}
          <td style="font-weight:bold;width:25px">{.}</td>
          {/scmos_ids}
        </tr>
        <tr>
          <th>Value</th>
          {#scmos}
          <td style="width:25px">{.}</td>
          {/scmos}
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>NHIT100</th>
    {#tr100}
    <td>
      <table>
        <tr>
          <th>Enabled</th>
          {#mask}
          <td style="width:25px;"><span style="width:12px;text-align:center;display:inline-block;">{.}</span></td>
          {/mask}
        </tr>
        <tr>
          <th>Delay</th>
          {#delay}
          <td>{.}</td>
          {/delay}
        </tr>
      </table>
    </td>
    {/tr100}
  </tr>
  <tr>
    <th>NHIT20</th>
    {#tr20}
    <td>
      <table>
        <tr>
          <th>Enabled</th>
          {#mask}
          <td style="width:25px;"><span style="width:12px;text-align:center;display:inline-block;">{.}</span></td>
          {/mask}
        </tr>
        <tr>
          <th>Delay</th>
          {#delay}
          <td>{.}</td>
          {/delay}
        </tr>
        <tr>
          <th>Width</th>
          {#width}
          <td>{.}</td>
          {/width}
        </tr>
      </table>
    </td>
    {/tr20}
  </tr>
</table>
{/settings}
<h3>Log</h3>
<table>
  <tr>
    <th>Log file location</th>
    <td>{logfile_name}</td>
  </tr>
</table>

<h3>Detector Configuration</h3>
<table>
  {#crates}
  <tr style="border:solid 1px #eee">
    <th style="text-align:center;border-right:solid 1px #eee">
      <a href="{baseURL}/crate?startkey=[{crate_id}]&endkey=[{crate_id},{}]">{crate_id}</a>
      <br><span style="font-size:smaller">(0x{slot_mask})</span></th>
    {#slots crate_id=crate_id}
    <td style="border-right:solid 1px #eee;{#enabled}{:else}background:#eee{/enabled}">
      <table>
        <tr>
          <th>Slot</th>
          <td><a href="{baseURL}/slot?startkey=[{&#34;crate&#34;:{crate_id},&#34;slot&#34;:{slot_id}}]&endkey=[{&#34;crate&#34;:{crate_id},&#34;slot&#34;:{slot_id}},{}]">{slot_id}</a></td>
        </tr>
        <tr>
          {#mb_id}
          <th>FEC</th>
          <td><a href="{baseURL}/fec?startkey=[&#34;{mb_id}&#34;]&endkey=[&#34;{mb_id}&#34;,{}]">{mb_id}</a></td>
          {/mb_id}
        </tr>
        <tr>
          {#db0_id}
          <th style="border-bottom:none;">DBs</th>
          <td style="border-bottom:none;">
            <ol>
              <li><a href="{baseURL}/db?startkey=[&#34;{db0_id}&#34;]&endkey=[&#34;{db0_id}&#34;,{}]">{db0_id}</a></li>
              <li><a href="{baseURL}/db?startkey=[&#34;{db1_id}&#34;]&endkey=[&#34;{db1_id}&#34;,{}]">{db1_id}</a></li>
              <li><a href="{baseURL}/db?startkey=[&#34;{db2_id}&#34;]&endkey=[&#34;{db2_id}&#34;,{}]">{db2_id}</a></li>
              <li><a href="{baseURL}/db?startkey=[&#34;{db3_id}&#34;]&endkey=[&#34;{db3_id}&#34;,{}]">{db3_id}</a></li>
            </ol>
          </td>
          {/db0_id}
        </tr>
        <tr>
          {?tests}
          <th>Tests</th>
          <td>
            <table>
              {#tests}
              <tr>
                <td>
                  {?pass}
                  <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
                  {:else}
                  <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
                  {/pass}
                </td>
                <td><a href="{baseURL}/{type}/{id}">{type}</a></td>
              </tr>
              {/tests}
            </table>
          </td>
          {/tests}
        </tr>
      </table>
    </td>
    {/slots}
  </tr>
  {/crates}
</table>

<br/>
{>"test_footer.html"/}
{/record}

