{?rows}
<style>
  .archived {display:none}
</style>
<h1>ECAL History</h1>
<div style="padding:10px;font-weight:bold;"><input type="checkbox" onclick="$('.archived').toggle()"/> Show archived tests</div>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Type</th>
    <th>Date</th>
  </tr>
  {#rows}
  <tr{#value.archived} class="archived"{/value.archived}>
    <td>
      {#value.archived}
      <a href="{baseURL}/test_unarchive/{id}" title="Unarchive"><div class="ui-icon ui-icon-folder-open"></div></a>
      {:else}
      <a href="{baseURL}/test_archive/{id}" title="Archive"><div class="ui-icon ui-icon-folder-collapsed"></div></a>
      {/value.archived}
    </td>
    <td><a href="{baseURL}/{value.type}/{id}">{value.type}</a></td>
    <td>{value.short_created}</td>
  </tr>
  {/rows}
</table>
{:else}
<h1>No tests found</h1>
{/rows}

