{>"config_header.html"/}

<h3>Results</h3>
<table border=0>
 <tr>
  <td>Pedestal</td> 
  {#pedestal}
   <td><span style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/pedestal}
 </tr>
 <tr>
  <td>Chip Disable</td> 
  {#chip_disable}
   <td><span style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/chip_disable}
 </tr>
 <tr>
  <td>LGI Select</td> 
  {#lgi_select}
   <td><span style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/lgi_select}
 </tr>
 <tr>
  <td>CMOS PROG low</td> 
  {#cmos_prog_low}
   <td><span style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/cmos_prog_low}
 </tr>
 <tr>
  <td>CMOS PRIG high</td> 
  {#cmos_prog_high}
   <td><span style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/cmos_prog_high}
 </tr>
</table>

<br/>
<hr size=1 color="black"/>
<span style="font-size:7pt">Document ID: {_id}</span>

