<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?startkey=[&#34;{type}&#34;]&endkey=[&#34;{type}&#34;,{}]">FEC Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<table border=0>
 <tr>
  <th>Pedestal</th>
  {#pedestal}
   <td><span title="Passed" style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span title="Failed" style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/pedestal}
 </tr>
 <tr>
  <th>Chip Disable</th>
  {#chip_disable}
   <td><span title="Passed" style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span title="Failed" style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/chip_disable}
 </tr>
 <tr>
  <th>LGI Select</th>
  {#lgi_select}
   <td><span title="Passed" style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span title="Failed" style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/lgi_select}
 </tr>
 <tr>
  <th>CMOS PROG low</th>
  {#cmos_prog_low}
   <td><span title="Passed" style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span title="Failed" style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/cmos_prog_low}
 </tr>
 <tr>
  <th>CMOS PROG high</th>
  {#cmos_prog_high}
   <td><span title="Passed" style="display:block;background:green;width:12px">&nbsp;</span></td>
  {:else}
   <td><span title="Failed" style="display:block;background:red;width:12px">&nbsp;</span></td>
  {/cmos_prog_high}
 </tr>
 <tr>
  <th>CMOS Test Registers</th>
  <td>
   <ol class="custom" style="margin-left:-73px">
   {#cmos_test_reg}
    {?.}
     <li><span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span></li>
    {:else}
     <li><span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span></li>
    {/.}
   {/cmos_test_reg}
   </ol>
  </td>
 </tr>
</table>

{>"test_footer.html"/}

