{#record}
<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?startkey=[&#34;{type}&#34;]&endkey=[&#34;{type}&#34;,{}]">Final Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
  <div style="table-cell">
    {#archived}
    {:else}
    <a href="{baseURL}/test_archive/{_id}" title="Archive"><span class="ui-icon ui-icon-folder-collapsed"></span></a>
    {/archived}
  </div>
 </div>
</div>

{>"config_header.html"/}

<div style="display:table">
<div style="display:table-row;width:80%">
<div style="display:table-cell;width:60%">
<form action="" method=POST>
<input type="hidden" name="final_test_id" value="{_id}">
<h3>Notes&nbsp;&nbsp;&nbsp;<input type="submit" value="Save"></h3>
<h4>Front End Card</h4>
<table>
 <tr>
  <td>Comments</td>
  <td><textarea name="fec_comments" rows=8 cols=40>{fec_comments}</textarea></td>
 </tr>
 <tr>
  <td>Cleaned</td>
  <td><input type="checkbox" name="cleaned" value="__checkbox_true" {?cleaned}checked{/cleaned}/></td>
 </tr>
 <tr>
  <td>Refurbished</td>
  <td><input type="checkbox" name="refurbished" value="__checkbox_true" {?refurbished}checked{/refurbished}/></td>
 </tr>
 <tr>
  <td>NHIT100 DC Offset</td>
  <td><input type="text" name="dc_offset_n100" value="{dc_offset_n100}"/></td>
 </tr>
 <tr>
  <td>NHIT20 DC Offset</td>
  <td><input type="text" name="dc_offset_n20" value="{dc_offset_n20}"/></td>
 </tr>
 <tr>
  <td>ESUMHI DC Offset</td>
  <td><input type="text" name="dc_offset_esumhi" value="{dc_offset_esumhi}"/></td>
 </tr>
 <tr>
  <td>ESUMLO DC Offset</td>
  <td><input type="text" name="dc_offset_esumlo" value="{dc_offset_esumlo}"/></td>
 </tr>
</table>

<h4>Daughterboards</h4>
 <table>
  <tr>
   <td><strong>DB 0</strong></td>
   <td>
   <td rowspan=2><textarea name="db0_comments" rows=4 cols=40>{db0_comments}</textarea></td>
  </tr>
  <tr>
   <td>DM: <input type="text" name="db0_dark_matter" value="{db0_dark_matter}" size=5</td>
  </tr>
  <tr>
   <td><strong>DB 1</strong></td>
   <td>
   <td rowspan=2><textarea name="db1_comments" rows=4 cols=40>{db1_comments}</textarea></td>
  </tr>
  <tr>
   <td>DM: <input type="text" name="db1_dark_matter" value="{db1_dark_matter}" size=5</td>
  </tr>
  <tr>
   <td><strong>DB 2</strong></td>
   <td>
   <td rowspan=2><textarea name="db2_comments" rows=4 cols=40>{db2_comments}</textarea></td>
  </tr>
  <tr>
   <td>DM: <input type="text" name="db2_dark_matter" value="{db2_dark_matter}" size=5</td>
  </tr>
  <tr>
   <td><strong>DB 3</strong></td>
   <td>
   <td rowspan=2><textarea name="db3_comments" rows=4 cols=40>{db3_comments}</textarea></td>
  </tr>
  <tr>
   <td>DM: <input type="text" name="db3_dark_matter" value="{db3_dark_matter}" size=5</td>
  </tr>
 </table>
</div>
</form>
{/record}

<div style="display:table-cell">
<h3>Tests</h3>
{?tests}
<table>
 {#tests}
 <tr>
  <td>
  {?pass}
   <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
  {:else}
   <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
  {/pass}
  </td>
  <td><a href="{baseURL}/{type}/{id}">{type}</a></td>
  <td>{created}</td>
 </tr>
 {/tests}
</table>
{:else}
<strong>No tests</strong>
{/tests}
</div>
</div>
</div>

{#record}
{>"test_footer.html"/}
{/record}

