{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<h4>Target time: {targettime}</h4>
<div style="display:table;width:12%;">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">Errors</div>
  <div style="display:table-cell;font-weight:bold">Time</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
   {#error}
    <span title="{hint}" style="display:inline-block;width:12px;background:red;color:white;font-weight:bold;vertical-align:middle">{errors}</span>
   {:else}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/error}
   </div>
   <div style="display:table-cell">
    {time}
   </div>
  </div>
  {/channels}
</div>

{>"test_footer.html"/}

