<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?startkey=[&#34;{type}&#34;]&endkey=[&#34;{type}&#34;,{}]">Memory Test</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
  <div style="table-cell">
    {#archived}
    {:else}
    <a href="{baseURL}/test_archive/{_id}" title="Archive"><span class="ui-icon ui-icon-folder-collapsed"></span></a>
    {/archived}
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>

<div style="display:table;width:60%">
<div style="display:table-row">
<div style="display:table-cell">
<h4>Address Test</h4>
<ol>
 {#address_test_ok}
  {?.}
   <li style="padding:1px"><span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span></li>
  {:else}
   <li style="padding:1px"><span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span></li>
  {/.}
 {/address_test_ok}
</ol>
</div>
<div style="display:table-cell">
<h4>Pattern Test</h4>
{#pattern_test}
<table border=0>
 <tr>
  <th>Errors</th>
  {?error}
  <td><span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span></td>
 </tr>
 <tr>
  <th>Error Location</th>
  <td>{error_location}</td>
 </tr>
 <tr>
  <th>Expected Data</th>
  <td>{expected_data}</td>
 </tr>
 <tr>
  <th>Read Data</th>
  <td>{read_data}</td>
 </tr>
 {:else}
  <td><span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span></td>
  </tr>
 {/error}
</table>
{/pattern_test}
</div>
</div>
</div>

{>"test_footer.html"/}

