<h1 style="margin-bottom:10px;"><a href="{baseURL}/parts">Parts List</a></h1>
<form action="" method="POST">
<table>
  <tr>
    <th>Name</th>
    <td><input type="text" name="name"/></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><input type="text" name="description"/></td>
  </tr>
  <tr>
    <th>Qty at Penn</th>
    <td><input type="number" name="penn" style="width:5em"/></td>
  </tr>
  <tr>
    <th>Qty on surface</th>
    <td><input type="number" name="surface" style="width:5em"/></td>
  </tr>
  <tr>
    <th>Qty underground</th>
    <td><input type="number" name="underground" style="width:5em"/></td>
  </tr>
</table>

<br/><br/>
<div>
  <input type="submit" value="Save" style="border:solid 1px black;font-size:12pt;color:black;background:#90ee90"/>
</div>
</form> 

