<div style="display:table;border:dashed 1px #aaa;padding:5px;background:#eee;vertical-align:middle">
 <div style="display:table-row">
  <div style="display:table-cell;padding-right:15px;font-size:large;vertical-align:middle">
   {#pass}
    <span style="color:black;font-weight:normal;padding:3px;background:#90ee90;border:solid 1px black">Passed</span>
   {:else}
    <span style="font-weight:normal;padding:3px;background:pink;border:solid 1px black">Failed</span>
   {/pass}
  </div>
  <div style="display:table-cell">
   <h1 style="color:black;"><a href="{baseURL}/test?key=&#34;{type}&#34;">Pedestal Run</a></h1>
   <h3 style="color:black;margin-top:-6px">{created}</h3>
  </div>
 </div>
</div>

{>"config_header.html"/}

<h3 style="padding-bottom:5px">
 Summary:
</h3>

<table>
 <tr>
  <th>Balanced</th>
  <td>
   {?balanced}
    <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {:else}
    <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
   {/balanced}
   </ol>
  </td>
 </tr>
</table>
<br/>

<div style="display:table;width:6%;">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">Errors</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
   {?errors}
    <span title="{hint}" style="display:inline-block;width:12px;background:red;color:white;vertical-align:middle;font-weight:bold">{flag}</span>
   {:else}
    <span title="{hint}" style="display:inline-block;width:12px;background:green">&nbsp;</span>
   {/errors}
   </div>
  </div>
  {/channels}
</div>

<h3 style="padding-bottom:5px">
 Results:
</h3>

{#tables}
 <table>
  <tr>
   <th>Channel</th>
   <th>Num</th>
   <th>QHL</th>
   <th>QHL RMS</th>
   <th>QHS</th>
   <th>QHS RMS</th>
   <th>QLX</th>
   <th>QLX RMS</th>
   <th>TAC</th>
   <th>TAC RMS</th>
  </tr>
  {#.}
   {?errors}
    <tr style="background:pink">&nbsp;</span>
   {:else}
    <tr style="background:#90ee90">&nbsp;</span>
   {/errors}
    <td>{channel}</td>
    <td>{num}</td>
    <td>{qhl}</td>
    <td>{qhl_rms}</td>
    <td>{qhs}</td>
    <td>{qhs_rms}</td>
    <td>{qlx}</td>
    <td>{qlx_rms}</td>
    <td>{tac}</td>
    <td>{tac_rms}</td>
   </tr>
  {/.}
 </table>
 <br/>
{/tables}

{>"test_footer.html"/}

