{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<div style="display:table">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">Channel</div>
  <div style="display:table-cell">&nbsp;</div>
  <div style="display:table-cell;text-align:center;font-weight:bold;padding-left:10px">Errors</div>
 </div>
  {#channels}
  <div style="display:table-row">
   <div style="display:table-cell;text-align:right;font-weight:bold">
    {id}
   </div>
   <div style="display:table-cell;padding-left:10px">
    {#error}
     <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
    {:else}
     <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
    {/error}
   </div>
   <div style="display:table-cell;padding-left:10px">
    {error}
   </div>
  </div>
  {/channels}
</div>

{>"test_footer.html"/}

