{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<h4>Target time: {target_time}</h4>
<div style="display:table;width:25%;text-align:center">
 <div style="display:table-row">
  <div style="display:table-cell;font-weight:bold">Chip</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">RMP</div>
  <div style="display:table-cell;text-align:center;font-weight:bold">VSI</div>
  <div style="display:table-cell;font-weight:bold">Channel: Time</div>
 </div>
 {#chips}
  <div style="display:table-row;background:{color};">
   <div style="display:table-cell;text-align:right;font-weight:bold;padding:3px">
    {id}
   </div>
   <div style="display:table-cell">
    {rmp}
   </div>
   <div style="display:table-cell">
    {vsi}
   </div>
   <div style="display:table-cell;text-align:center;padding-bottom:2px">
    <div style="display:table">
     {#channels}
      <div style="display:table-row">
       <div style="display:table-cell">
<script>console.log("{error}")</script>
        {#error}
         <span style="display:inline-block;width:12px;background:red;color:white;vertical-align:middle;font-weight:bold" title="{hint}">{errors}</span>
        {:else}
         <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
        {/error}
       </div>
       <div style="display:table-cell;padding-left:10px;font-weight:bold">{id}</div>
       <div style="display:table-cell;padding-left:10px">{time}</div>
      </div>
     {/channels}
    </div>
   </div>
  </div>
 {/chips}
</div>

{>"test_footer.html"/}

