<h1>Spare Boards</h1>

<h2>Daughterboards</h2>
<table>
  <tr>
    <th>Gold</th>
    <th>Silver</th>
    <th>Bad</th>
    <th>Bone</th>
    <th>Unknown</th>
  </tr>
  <tr>
    <td id="db-gold"></td>
    <td id="db-silver"></td>
    <td id="db-bad"></td>
    <td id="db-bone"></td>
    <td id="db-none"></td>
  </td>
</table>

<h2>Front-End Cards</h2>
<table>
  <tr>
    <th>Gold</th>
    <th>Silver</th>
    <th>Bad</th>
    <th>Bone</th>
    <th>Unknown</th>
  </tr>
  <tr>
    <td id="fec-gold"></td>
    <td id="fec-silver"></td>
    <td id="fec-bad"></td>
    <td id="fec-bone"></td>
    <td id="fec-none"></td>
  </td>
</table>

<h2>Others</h2>
<table>
  <td id="others"></td>
</table>

