<style>
td, th {
  border-bottom: 0px;
}
</style>

<script type='text/javascript'> 
  $(function() {
    $('.boxy').boxy();
  });
</script>

{?rows}
<h1>All tags for <a href="{baseURL}/board/{board_name}">{board_name}</a> (Current status is: {current_status})</h1>
<a href="{baseURL}/tag/new?board={board_name}" style="font-size:large">New Tag</a>
<table>
  {#rows}
  <tr>
    <td>
    <table style="border-width: 1px; border-color:#000000;
  border-style: solid; padding: 4px;">
      <tr>
        <td>{value.created}</td>
      </tr>
{?showauthor}
      <tr>
        <td>Author: {value.author}</td>
      </tr>
{/showauthor}
{?showstatus}
      <tr>
        <td>Status: {value.status}</td>
      </tr>
{/showstatus}
{?showsetup}
      <tr>
        <td>mb: {value.setup.mb}</td>
      </tr>
      <tr>
        <td>dbs: {value.setup.db0}, {value.setup.db1}, {value.setup.db2}, {value.setup.db3}</td>
      </tr>
{/showsetup}
      <tr>
        <td>{value.content}</td>
      </tr>
      <tr>
        <td>
          <hr size=1 color="black"/>
          <span style="font-size:7pt">Document ID: {value.id} <a href="#confirm_delete" class="boxy" title="Delete">(delete)</a></span>
          <div id="confirm_delete" style="display:none;color:black;padding:15px">
            Really delete document {value.id}?<br/><br/>
            <div style="width:100%;text-align:center"><a href="{baseURL}/test_delete/{value.id}" onClick="Boxy.get(this).hide()">Delete</a></div>
          </div>
        </td>
      </tr>
      </table>
    </td>
  </tr>
  {/rows}
</table>
{:else}
<h1>No tags found for board {board_name}</h1>
<a href="{baseURL}/tag/new?board={board_name}" style="font-size:large">New Tag</a>
{/rows}

