<h3 style="padding-bottom:5px">
  Board: {board}
</h3>
<h3>Status: {status}</h3>

<h3>Configuration</h3>
<dl>
 <dt>FEC ID: <a href="{baseURL}/fec?startkey=[&#34;{setup.mb}&#34;]&endkey=[&#34;{setup.mb}&#34;,{}]">{setup.mb}</a></dt>
 <dt>Daughterboards</dt>
  <dd>
   <ul>
    <li><a href="{baseURL}/db?startkey=[&#34;{setup.db0}&#34;]&endkey=[&#34;{setup.db0}&#34;,{}]">{setup.db0}</a></li>
    <li><a href="{baseURL}/db?startkey=[&#34;{setup.db1}&#34;]&endkey=[&#34;{setup.db1}&#34;,{}]">{setup.db1}</a></li>
    <li><a href="{baseURL}/db?startkey=[&#34;{setup.db2}&#34;]&endkey=[&#34;{setup.db2}&#34;,{}]">{setup.db2}</a></li>
    <li><a href="{baseURL}/db?startkey=[&#34;{setup.db3}&#34;]&endkey=[&#34;{setup.db3}&#34;,{}]">{setup.db3}</a></li>
   </ul>
  </dd>
</dl>

<h3>Author</h3>
{author}

<h3>Content</h3>
{content}

{>"test_footer.html"/}

