{?rows}
<style>
  .archived {display:none}
</style>
<h1>Test History</h1>
{?enable_prev}<a href="/debugdb/history?skip={skip_prev}">{/enable_prev}Previous{?enable_prev}</a>{/enable_prev} |
<a href="/debugdb/history?skip={skip_next}">Next</a>
<div style="padding:10px;font-weight:bold;"><input type="checkbox" onclick="$('.archived').toggle()"/> Show archived tests</div>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Type</th>
    <th>Status</th>
    <th>Date</th>
    <th>Configuration</th>
  </tr>
  {#rows}
  <tr{#value.archived} class="archived"{/value.archived}>
    <td>
      {#value.archived}
      <a href="{baseURL}/test_unarchive/{id}" title="Unarchive"><div class="ui-icon ui-icon-folder-open"></div></a>
      {:else}
      <a href="{baseURL}/test_archive/{id}" title="Archive"><div class="ui-icon ui-icon-folder-collapsed"></div></a>
      {/value.archived}
    </td>
    <td><a href="{baseURL}/{value.type}/{id}">{value.type}</a></td>
    {#value.pass}
    <td align="center"><span style="display:block;background:green;width:12px">&nbsp;</span></td>
    {:else}
    <td align="center"><span style="display:block;background:red;width:12px">&nbsp;</span></td>
    {/value.pass}
    <td>{value.short_created}</td>
    {#value.config}
    <td>
      <dl>
        <dt>Location: {loc}</dt>
        <dt>FEC <a href="{baseURL}/board/{fec_id}">{fec_id}</a></dt>
        <dt>DBs</dt>
        <ul>
          {#db}
          <li><a href="{baseURL}/board/{db_id}">{db_id}</a></li>
          {/db}
        </ul>
      </dl>
      {/value.config}
    </td>
  </tr>
  {/rows}
</table>
<a href="/debugdb/history?skip={skip_prev}">Previous</a> |
<a href="/debugdb/history?skip={skip_next}">Next</a>
{:else}
<h1>No tests found</h1>
{/rows}

