{?rows}
<style>
  .archived {display:none}
</style>
<h1>All tests for {system_name} {system_id}</h1>
{?isaboard}
<a href="{baseURL}/tag/new?board={system_id}" style="font-size:large">Create a Tag</a><br>
<a href="{baseURL}/tag?startkey=[{system_id}]&endkey=[{system_id},{}]" style="font-size:large">Tag List</a>
{/isaboard}
<div style="padding:10px;font-weight:bold;"><input type="checkbox" onclick="$('.archived').toggle()"/> Show archived tests</div>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Type</th>
    <th>Status</th>
    <th>Date</th>
    <th>Configuration</th>
  </tr>
  {#rows}
  <tr{#value.archived} class="archived"{/value.archived}>
    <td>
      {#value.archived}
      <a href="{baseURL}/test_unarchive/{id}" title="Unarchive"><div class="ui-icon ui-icon-folder-open"></div></a>
      {:else}
      <a href="{baseURL}/test_archive/{id}" title="Archive"><div class="ui-icon ui-icon-folder-collapsed"></div></a>
      {/value.archived}
    </td>
    <td><a href="{baseURL}/{value.type}/{id}">{value.type}</a></td>
    {#value.pass}
    <td align="center"><span style="display:block;background:green;width:12px">&nbsp;</span></td>
    {:else}
    <td align="center"><span style="display:block;background:red;width:12px">&nbsp;</span></td>
    {/value.pass}
    <td>{value.created}</td>
    <td>
      <dl>
        <dt>Location: {value.config.loc}</dt>
        <dt>FEC <a href="{baseURL}/board/{value.config.fec_id}">{value.config.fec_id}</a></dt>
        <dt>DBs</dt>
        {#value.config.db}
        <a href="{baseURL}/board/{db_id}">{db_id}</a><br/>
        {/value.config.db}
      </dl>
    </td>
  </tr>
  {/rows}
</table>
{:else}
<h1>No tests found</h1>
{/rows}

