{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:&nbsp;
</h3>
<table border=0>
 <tr>
  <th>Temperature</th>
  <td>{temp}</td>
 </tr>
 <tr>
  <th>CALD</th>
  <td>{cald}</td>
 </tr>
 <tr>
  <th>HVT</th>
  <td>{hvt}</td>
 </tr>
</table>

<h4>Voltages</h4>
<div style="display:table;width:20%;">
 {#voltages}
 <div style="display:table-row">
  <div style="display:table-cell;text-align:right;font-weight:bold">
   {name}
  </div>
  <div style="display:table-cell;text-align:center;padding-bottom:2px">
  {?ok}
   <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
  {:else}
   <span title="Failed (nominally {nominal} V)" style="display:inline-block;width:12px;background:red">&nbsp;</span>
  {/ok}
  </div>
  <div style="display:table-cell">
   {value}
  </div>
 </div>
 {/voltages}
</div>

{>"test_footer.html"/}

