{>"test_header.html"/}

<h3 style="padding-bottom:5px">
 Results:
</h3>

<table style="text-align:center" cellpadding="5px">
 <tr>
  <th>Channel</th>
  <th>Maximum rate (MHz)</th>
  <th>Lower rate (kHz)</th>
  <th>Upper rate (kHz)</th>
  <th>Maximum DAC</th>
  <th>Lower DAC</th>
  <th>Upper DAC</th>
  <th>Zero DAC Setting</th>
  <th>Errors</th>
 </tr>
 {#rows}
  <tr>
   <td>{channel}</td>
   <td>{max_rate}</td>
   <td>{lower_rate}</td>
   <td>{upper_rate}</td>
   <td>{max_dac}</td>
   <td>{lower_dac}</td>
   <td>{upper_dac}</td>
   <td>{zero_dac}</td>
   <td align="center">
    {?errors}
     <span title="Failed" style="display:inline-block;width:12px;background:red">&nbsp;</span>
    {:else}
     <span title="Passed" style="display:inline-block;width:12px;background:green">&nbsp;</span>
    {/errors}
   </td>
  </tr>
 {/rows}
</table>

{>"test_footer.html"/}

